.layout-column{
	width: 100%;
}
.intro_content .md-button {
	width: 100%;
	min-height: 75px;
	padding: 0 15px;
	margin: 5px 0;
	text-align: left;
	font-size: 20px;
	text-transform: none;
	color: rgba(0,0,0,.87);
	cursor: url('../images/cursor_white.png'), auto;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 
				0 3px 6px rgba(0,0,0,0.23);
	letter-spacing: 0em;
}