#send_form {
	padding: 13px 30px 0;
}
.email_form {
	width: 550px;
	height: 450px;
	background: rgba(0,0,0,.54);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.int_date {
	display: inline-block;
	position: relative;
	top: -10px;
}
.email_form md-input-container,
.int_date {
	width: 239px;
	margin: 30px 0 0;
}
.email_form .int_offer{
	width: 100%;
	margin-top: 0px;
}
.int_offer textarea {
	max-height: 108px;
	min-height: 108px;
}
#send_form .md-datepicker-button.md-icon-button {
	margin: 0;
	margin-left: 85px;
	z-index: 99;
	cursor: url('../images/cursor_white.png'), auto;
}
#send_form .md-datepicker-triangle-button.md-button{
	cursor: url('../images/cursor_white.png'), auto;
	top: 1px;
}
#send_form label,
#send_form input,
#send_form textarea,
#send_form .md-char-counter,
#send_form .md-input-message-animation,
#send_form md-input-container.md-input-invalid .md-char-counter,
#send_form md-input-container label.md-required::after{
	color: rgba(255,255,255,.87);
}
#send_form .md-datepicker-input {
	padding-left: 30px;
	width: 115px;
	min-width: auto;
}
#send_form input,
#send_form textarea{
	border-color: rgba(255,255,255,.87);
}
#send_form .md-button[type='submit'] {
	position: absolute;
	bottom: 15px;
	right: 22px;
	color: rgba(255,255,255,.87);
	cursor: url('../images/cursor_white.png'), auto;
}
#send_form .md-datepicker-calendar-icon {
	color: rgba(255,255,255,.54);
}
#send_form .md-datepicker-expand-triangle {
	border-top-color: rgba(255,255,255,.87);
}
#send_form .md-input-messages-animation.md-auto-hide {
	position: absolute;
	top: 35px;
}
#send_form .md-datepicker-input-container {
	border-bottom-color: rgba(255,255,255,.87);
	margin-left: -35px;
}
#send_form h3 {
	margin: 0;
	font-size: 16px;
	color: rgba(255,255,255,.87);
	font-weight: 400;
	letter-spacing: 0.02em;
	margin-bottom: 10px;
}
.email_form md-input-container:first-of-type {
	width: 217px;
}
.email_form md-input-container:nth-of-type(2) {
	width: 217px;
	margin-left: 44px;
}
.email_form md-input-container:nth-of-type(3) {
	width: 217px;
	margin-left: 26px;
	position: relative;
	top: -10px;
}
.submit_preloader {
	position: absolute;
	bottom: 17px;
	right: 32px;
}
.submit_preloader md-progress-circular path{
	stroke: rgba(255,255,255,.87);
}