.language {
	margin: 10px 0;
	min-width: 270px;
}
.languages_content.md-title {
	display: flex;
	justify-content: space-around;
	padding: 15px;
	flex-wrap: wrap;
}
.language .flex{
	flex: inherit;
}
.language md-slider-container {
	flex-flow: row nowrap;
}
.language .md-subhead {
	min-width: 126px;
	line-height: 1;
	height: auto;
}
.language md-slider-container h5 {
	min-width: 100px;
	text-align: left !important;
	line-height: 28px;
}