footer {
	position: absolute;
	width: 100%;
	height: 56px;
	bottom: 10px;
	pointer-events: none;
}
footer #fingerprint.md-button {
	margin: 0;
	color: rgba(255,255,255,.87);
	background-color: rgba(0,0,0,.54);
	transition-delay: .3s;
}
footer .md-is-open #fingerprint.md-button{
	background: inherit;
	box-shadow: none;
}
md-fab-toolbar.md-left md-fab-trigger{
	position: absolute;
	right: 18px;
	pointer-events: auto;
}
footer .md-is-open md-fab-actions .md-button{
	pointer-events: auto;
}
md-fab-trigger:hover,
footer .md-button,
footer .md-is-open{
	cursor: url('../images/cursor_white.png'), auto;
}
footer #fingerprint md-icon{
	width: 34px;
	height: 34px;
	font-size: 34px;
}
.md-is-open #fingerprint md-icon{
	opacity: 1;
}
md-fab-toolbar {
	height: 100%;
	width: 100%;
}
md-fab-toolbar .md-fab-toolbar-wrapper{
	height: 100%;
}
md-fab-actions{
	display: flex;
	opacity: 1;
}
md-fab-actions > div:first-child{
	width: 92px;
	padding: 10px 5px;
	text-align: center;
}
footer md-fab-actions .md-button{
	margin: 0;
	min-width: 36px;
}
footer .creator{
	line-height: 56px;
}
footer .copyrights {
	line-height: 20px;
	font-size: 16px;
	margin-top: 8px;
	margin-right: 92px;
	text-align: right;
}
md-fab-actions > div:last-child{
	flex-grow: 1;
}