<h2 class='md-headline'>
	Brief introduction
</h2>
<div class='intro_content md-title content_block'>
	Hello, welcome to my curriculum vitae! As you already could have 
	noticed, i am Markian Tsybran. The purpose of this site is to 
	demonstrate some of my techniques, meanwhile introducing you to 
	my skills and experience. I respect your time, so first of all, 
	let me give you a short course through my site. 
	<md-list-item>
		<div layout='column'>
			<h3 class='md-subhead'>
				<md-button>This section</md-button> 
				is dedicated, to tell a general information 
				about me and the site.	
			</h3>
			<h3 class='md-subhead'>
				<a href='education'>
			    	<md-button id='#education'>The Education</md-button>
			    </a> 
			    section keeps all you'd need to know about my school 
			    and university.
		    </h3>
			<h3 class='md-subhead'>
				Suggest you proceeding 
				<a href='skills'>
					<md-button id='#skills'>Skills</md-button>
				</a>
				section, to find more about me as a developer.
				
			</h3>
			<h3 class='md-subhead'>
				And of course  
				<a href='experience'>
					<md-button id='#experience'>Experience</md-button>
				</a>
				section, where is information about my works
				and responsibilities.
			    
		    </h3>
			<h3 class='md-subhead'>
				<a href='contacts'>
					<md-button id='#contacts'>Contacts</md-button>
				</a> 
				section provides ability to chat me via skype,
				fill interview registration form and get all
				you need to contact me.
			</h3>
		</div>
    </md-list-item>
</div>
<h2 class='md-headline'>
	Few words about me
</h2>
<div class='md-title content_block'>
	I am young, proceeding developer. Main goal in my work is improvement 
	and reaching of perfection. I long for good, high-quality projects, 
	using libraries and frameworks that would fit it the most for maximum 
	code productivity and callbacks speed. Can represent myself as a quite 
	flexible developer. I can easily keep up with project and team in quite 
	short terms, even if i am standing some techniques for the first time.
</div>
