<h2 class='md-headline'>
	Educational Institution
</h2>
<div class='md-title content_block'>
	From the beginning of study, i've always liked subjects 
	that have to deal with logic (e.g. mathematics, physics,
	informatics) the most. This could be the reason why i've
	decided to pick the Applied Mathematics and Informatics 
	faculty, when i went to university. As i was on the third
	course, we started learning web-development. That was the 
	moment, i understood that i'm going to be a front-end
	developer. Nothing could interest me before, like that 
	subject did. Every day on I was looking forward to learn and 
	get out something new, concerning web-programming. I've graduated 
	from the Ivan Franko National University of Lviv in 2014 as a
	bachelor. Right after that i got my Master's Degree in
	'Computational and Applied Mathematics'.

</div>
<h2 class='md-headline'>
	Languages
</h2>
<div class='languages_content md-title'>
	<div>
		<div class='language' ng-repeat='language in languages1'>
			<md-slider-container ng-disabled='true'>
				<h5>{{ language.title }}</h5>
		        <md-slider ng-model='language.val' md-discrete 
		        		   md-vertical ng-readonly='true'></md-slider>
		        <p class='md-subhead'>{{ language.subtext }}</p>
	      	</md-slider-container>
		</div>
	</div>
	<div>
		<div class='language' ng-repeat='language in languages2'>
			<md-slider-container ng-disabled='true'>
				<h5>{{ language.title }}</h5>
		        <md-slider ng-model='language.val' md-discrete 
		        		   md-vertical ng-readonly='true'></md-slider>
		        <p class='md-subhead'>{{ language.subtext }}</p>
	      	</md-slider-container>
	    </div>
	</div>
</div>
<h2 class='md-headline'>
	Courses & Classes
</h2>
<div class='md-title content_block'>
	Shortly before finishing my bachelor's degree, i've decided to
	try myself as a freelancer. Creating of worthy web-sites, as 
	well as customers recurrence, dirrectly depends on a proper 
	developers' knowledge. This is the rule which i started with and 
	this is what i'm going on with. I've already successfuly passed 
	a lot of courses on different resources, such as HTMLAcademy, 
	Pluralsight, Codeschool, external services from dedicated forums 
	and topics, etc. Also nowadays, particularly every day i keep on
	trying to find out some features, learn new progressing 
	libraries/frameworks and hone my already acquired skills. 
</div>
