<h2 class='md-headline'>
	Freelance
</h2>
<div class='md-title content_block'>
	As a rule i have to face HTML5/CSS3 + Javascript/
	jQuery. Also more often AngularJs is used now. 
	Some projects were simple business cards, another 
	required server instalation and db connections. 
	During my freelance experience usually i work with 
	PHP or Python for that purpose, but there were 
	several projects with NodeJs aswell.
</div>
<h2 class='md-headline'>
	NeoSeo
</h2>
<div class='md-title content_block'>
	At NeoSeo i had to work with Opencart and Wordpress.
	My responsibility was creating new or editing 
	existing internet-markets, built with those CMSs.
	Often i faced editing some templates, creating or
	rewriting different type of modules/plugins and
	vice versa. A bit boring job, that's why it didn't
	take a long for me to leave.
</div>
<h2 class='md-headline'>
	Smart
</h2>
<div class='md-title content_block'>
	Smart is a product-type company, currently working
	on a site-builder. Something alike Wix or Squarespace
	with some custom widgets, UI, etc. We use Ruby as back,
	site built on BackboneJs as MVP template and Underscore
	for releasing view data-binding. As well we use trello
	and scrum for planning and collaboration.
</div>